/* font styles */
/* ######################################################## */


/* body background */
/* ########################################################## */
* {
	margin: 0;
	padding: 0;
	line-height: 1.4;
}
body {
	min-width: 650px;
	background: #1B1A1D;
	color: #fff;
	font: normal 100% sans-serif;
	font-weight: 100;
	text-align: center;
}
a {
	color: #7ab900;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	text-shadow: 0px 1px 6px rgb(150,150,215);
}
h2 {
	font-size: 1.5em;
	font-weight: 100;
	margin-bottom: .5em;
	border-bottom: 1px solid #7ab900;
}
h4 {
	font-size: 1.15em;
	margin-top: 1em;
}
b {
	color: #7ab900;
}
table.results {
	font-size: .846em;
}
table {
	width: 100%;
	border-collapse: collapse;
}
.results tr.odd {
    background: rgba(84,84,112,0.3);
}
.results tr.even {
    background: rgba(112,112,112,0.3);
}
.results th {
    padding: .5em 1em .25em .25em;
    border-bottom: 1px solid #7ab900;
    white-space: nowrap;
    background-color: rgba(119,118,117,0.4);
}
thead {
	background: rgba(69,69,69,0.1)
}
/* nav bar styles */
/* ########################################################## */


#archnavbar {
        height: 40px!important;
        padding: 5px 15px!important;
        background: #333!important;
        border-bottom: 4px #7ab900 solid!important
}
#archnavbarlogo {
        float: left!important;
        margin: 0!important;
        padding: 0!important;
        height: 40px!important;
        width: 190px!important;
        background: url(images/arch-anywhere-logo.png) no-repeat!important
}
#archnavbarlogo h1 {
        margin:0!important;
        padding:0!important;
        text-indent:-9999px!important
}
#archnavbarlogo a {
        display:block!important;
        height:40px!important;
        width:190px!important
}
#archnavbarlist {
        display:inline!important;
        float:right!important;
        list-style:none!important;
        margin:0!important;
        padding:0!important
}
#archnavbarlist li {
        float:left!important;
        font-size:14px!important;
        font-family:sans-serif!important;
        line-height:45px!important;
        padding-right:15px!important;
        padding-left:15px!important
}
#archnavbarlist li a {
        color:#999;
        font-weight:bold!important;
        text-decoration:none!important
}
#archnavbarlist li a:hover {
        text-shadow: 0px 1px 6px rgb(150,150,215);
        text-decoration:underline!important
}
#archnavbar.anb-home ul li#anb-home a, #archnavbar.anb-packages ul li#anb-packages a, #archnavbar.anb-download ul li#anb-download a, #archnavbar.anb-content ul li#anb-content a {
	text-shadow: 0px 1px 6px rgb(150,150,215);
}
/* content styles */
/* ########################################################### */
#content {
	width: 95%;
	margin: 0 auto;
	text-align: left;
	font-size: .812em;
}
#dev-navbar {
	margin: 1.5em 0;
}
#content-wrapper {
	float: left;
	width: 100%;
}
#content-left {
	margin: 0 340px 0 0;
}
#content-box {
	margin-bottom: 1.5em;
	padding: .65em;
	background: rgba(69,69,69,0.3);
	border: 1px solid #7ab900;
	border-radius: 4px;
}
#content-box ul {
	margin-left: 12px;
}
#content-box img {
	max-width: 368px;
	padding: 6px;
}
#content-bar {
	float: left;
	width: 300px;
	margin-left: -300px;
}
#content-menu {
	padding: .65em;
	background: rgba(69, 69, 69, 0.3) none repeat scroll 0% 0%;
	border: 1px solid rgb(122, 185, 0);
	border-radius: 4px;
}
#content-menu ul {
	list-style: none;
	margin: .5em 0 .5em 1em;
	padding: 0;
}
#content-menu img {
	max-width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.img_float {
	max-width: 408px;
	float: right;
	padding: 12px;
	border-radius: 12px;
	margin-top: 6px;
	margin-right: 6px;
	border-top: 1px solid #7AB900;
	border-bottom: 1px solid #7AB900;
	background: rgba(84, 84, 112, 0.3);	
}
.img_float img {
	max-width: 246px !important;
	padding: 0px !important;
}
#news {
    margin-top: 1.5em;
}
#news h3 {
    float: left;
    padding-bottom: .5em;
}
#news h3 a {
    display: block;
    background: rgba(84, 84, 112, 0.3);
    padding: 2px 10px;
    border: 1px solid #7ab900;
	font-weight: 100;
}
h3 span.arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #7ab900;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
}
#news .timestamp {
    float: right;
    font-size: .85em;
    margin: -1.8em .5em 0 0;
}
#news div {
    margin-bottom: 1em;
}
#news div p {
    margin-bottom: .5em;
}
#news h4 {
    clear: both;
    font-size: 1em;
    margin-top: 1.5em;
	font-weight: 100;
    border-bottom: 1px dotted #bbb;
}
#content-box #detailslinks {
    float: right;
}
#content-box #detailslinks > div {
    padding: .5em;
    margin-bottom: 1em;
    background: rgba(84,84,112,0.3);
    border: 1px solid #7ab900;
	border-radius: 4px;
}
#content-box #detailslinks h4 {
    margin-top: 0;
    margin-bottom: .25em;
}
#content-box #detailslinks ul {
    padding: 0;
    margin-bottom: 0;
    font-size: .846em;
}
#content-box #pkginfo {
    width: auto;
}
#content-box #pkginfo td {
    padding: .25em 0 .25em 1.5em;
}
#footer {
    clear: both;
    margin: 2em 0 1em;
	background: rgba(69,69,69,0.3);
	border: 1px solid #7ab900;
	border-radius: 4px;
	padding: 2px;
}
#footer p {
    margin: 0;
    text-align: center;
    font-size: .85em;
}
